doctype html
head
  title Box Content Explorer Demo
  meta(charset='utf-8')
  // polyfill.io only loads the polyfills your browser needs
  script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Intl")

 
  link(rel="stylesheet", href="https://cdn01.boxcdn.net/platform/elements/14.0.0/en-US/explorer.css")
h1 Box UI Elements - Content Previewer
.explorer-container(style='height:600px; width:50%')
script(src="https://cdn01.boxcdn.net/platform/elements/14.0.0/en-US/explorer.js")
script.
  var explorer = new Box.ContentExplorer();
  explorer.show("!{folder}", '!{token}', {
  container: ".explorer-container",

  });