html 
    head 
        title Download Link
    body 
        h1 Download Link Demo
        script 
            | console.log('!{path}')
        embed(src='/files/file.pdf', width='800px', height='2100px')